@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    background-color: black;
    color: #fff;
    font-family: 'Space Mono', monospace;
}

img {
    width: 700px;
    height: 700px;
    margin-left: 12%;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 2%;
}

#feature {
    display: flex;
    flex-flow: row;
}

#info {
    flex: 1;
}

#date {
    font-size: 20px;
    width: 800px;
    margin-left: 8%;
    margin-top: 2%;
    text-align: left;
}

#explanation {
    width: 800px;
    font-size: 18px;
    margin-top: 2%;
    margin-left: 8%;
}

#archive {
    margin-left: 8%;
    width: 800px;
}
a{
    text-decoration: none;

}

h3 {
    padding-top: 2%;
    text-align: left;
}