
*{
    text-align: center;
}

body {
    background-color: black;
    color: #D1C8C0;
    width: 900px;
    border: #CA9E42 10px solid;
    height: 92vh;
    margin-left: 25%;
    margin-top: 2em;
    position: absolute;
    
}

.container {
    height: 700px;
    width: 700px;
    background-color: #D1C8C0;
    border-radius: 1px;
    position: absolute;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 15%;
    overflow: hidden;
}

#t1 {
    position: relative;
    top: -140px; 
    left: -32px;
    width: 0;
    height: 0;
    border-top: 210px solid transparent;
    border-right: 210px solid #9EA2A5;
    border-bottom: 210px solid transparent;
    transform: rotate(45deg);
    z-index: 2;    
}

#t2 {
    position: relative;
    top: 15px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 135px solid transparent;
    border-right: 140px solid #CA9E42;
    border-bottom: 135px solid transparent;
    transform: rotate(180deg);
    z-index: 5;
    
}

#t3 {
    position: relative;
    top: -490px;
    left: -205px;
    width: 0;
    height: 0;
    width: 200px;
    border-bottom: 300px solid #292423;
    border-left: 252px solid transparent;
    border-right: 252px solid transparent;
    transform: rotate(270deg);
    z-index: 2;
}

#t4 {
    position: relative;
    top: -1151px;
    left: 303px;
    width: 0;
    height: 0;
    border-top: 550px solid transparent;
    border-right: 480px solid #A01E10;
    border-bottom: 400px solid transparent;
    z-index: 1;
    transform: rotate(7.5deg);
    
    
}

#t5 {
    position: relative;
    top: -1573px;
    left: 259px;
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-right: 250px solid #9EA2A5;
    border-bottom: 250px solid transparent;
    transform: rotate(-45deg);
}

#t6 {
    position: relative;
    top: -2525px;
    left: 470px;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 150px solid #70696B;
    border-bottom: 170px solid transparent;
    transform: rotate(270deg);
    z-index: 4;
}

#icon {
   position: absolute;
   bottom: 3em;
   right: 2em;
}

@keyframes body {        
    15% {
        border-color: #B2CA42;
    }
    30% {
        border-color: #CA5A42;
    }
    45% {
        border-color: #3561bd;
    }
    60% {
        border-color: #4D35BD;
    }
    75% {
        border-color: #35A5BD;
    }
}

@keyframes container {  
    15% {
        background-color: #D1D1C0;
    }
    30% {
        background-color: #D1C0C1;
    }     
    45% {
        background-color: #2e373f;
    }
    60% {
        background-color: #2E2F3F;
    }
    75% {
        background-color: #2E3F3F;
    }
}

@keyframes icon {
    15% {
        color: #B2CA42;
    }
    30% {
        color: #CA5A42;
    }
    45% {
        color: #3561bd;
    }
    60% {
        color: #4D35BD;
    }
    75% {
        color: #35A5BD;
    }
}

@keyframes t1 {        
    15% {
        border-color: #9E9EA5;
    } 
    30% {
        border-color: #9EA5A5;
    }
    45% {
        border-color: #A5A19E;
    } 
    60% {
        border-color: #A5A49E;
    } 
    75% {
        border-color: #A59E9E;
    }  
}

@keyframes t2 {        
    15% {
        border-right-color: #B2CA42;
    }
    30% {
        border-right-color: #CA5A42;
    }
    45% {
        border-right-color: #3561bd;
    }
    60% {
        border-right-color: #4D35BD;
    }
    75% {
        border-right-color: #35A5BD;
    }     
}

@keyframes t3 {
    15% {
        border-bottom-color: #292723;
    }
    30% {
        border-bottom-color: #292325;
    }    
    45% {
        border-bottom-color: #d6dbdc;
    }
    60% {
        border-bottom-color: #D6D8DC;
    }
    75% {
        border-bottom-color:  #D6DCDA;
    }
}

@keyframes t4 {   
    15% {
        border-right-color: #A06610;
    }
    30% {
        border-right-color: #A0104A;
    }     
    45% {
        border-right-color: #5fe1ef;
    }
    60% {
        border-right-color: #5F99EF;
    }
    75% {
        border-right-color: #5FEFB5;
    }
}

@keyframes t5 {        
    15% {
        border-color: #9E9EA5;
    } 
    30% {
        border-color: #9EA5A5;
    }
    45% {
        border-color: #A5A19E;
    }    
    60% {
        border-color: #A5A49E;
    }
    75% {
        border-color: #A59E9E;
    }
}

@keyframes t6 {        
    15% {
        border-right-color: #706A69;
    }
    30% {
        border-right-color: #70696F;
    }     
    45% {
        border-right-color: #8f9694;
    } 
    60% {
        border-right-color: #8F9596;
    }   
    75% {
        border-right-color: #8F9596;
    }
}
