@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: darkgray;
}

/* Styles for the Pac-Man canvas */
#gameCanvas {
    border: 1px solid black;
    background-color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles for the Pac-Man character */
#pacman {
    fill: yellow;
    stroke: none;
}

#startButton {
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#startButton:hover {
    background-color: #45a049;
}

#backButton {
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    bottom: 1%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d62525;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#backButton:hover {
    background-color: #bc2121;
}